.item1 {
     grid-area: one;
}

.item2 {
    grid-area: two;
}

.item3 {
    grid-area: three;
}

.item4 {
    grid-area: four;
}
.grid-container {
    display: grid;
    padding-top: 70px;
    grid-template-areas:
    'one two four'
    'one three four';
    align-items: center;
    justify-items: center;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
  }
}